APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

#MySQL
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

#Email
EMAIL_USER=
EMAIL_PASS=

# Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_CLIENT_ID=

# Giao Hang Nhanh
VITE_TOKEN_GHN=
VITE_SHOPID_GHN=

# Facebook Login
FACEBOOK_ID=
FACEBOOK_SECRET=
FACEBOOK_REDIRECT=
